@model DishViewModel
@{
    ViewData["Title"] = "Create";
}
<div class="container login-container mt-md-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form asp-action="CreateDish" asp-controller="Dish" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <div><span asp-validation-for="Name" class="text-danger"></span></div>
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name for the dish *" asp-for="Name" />
                </div>
                <div class="form-group">
                    <div><span asp-validation-for="Description" class="text-danger"></span></div>
                    <label>Description</label>
                    <input type="text" class="form-control" placeholder="Description for the dish *" asp-for="Description" />
                </div>
                <div class="form-group">
                    <div><span asp-validation-for="Price" class="text-danger"></span></div>
                    <label>Price</label>
                    <input type="text" class="form-control" placeholder="€10,00 *" asp-for="Price" />
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-5 pt-0">Course:</legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <div><span asp-validation-for="Starter" class="text-danger"></span></div>
                                <input class="form-check-input" type="checkbox" id="Starter" asp-for="Starter">
                                <label class="form-check-label">
                                    Starter
                                </label>
                            </div>
                            <div class="form-check">
                                <div><span asp-validation-for="MainDish" class="text-danger"></span></div>
                                <input class="form-check-input" type="checkbox" id="MainDish" asp-for="MainDish">
                                <label class="form-check-label">
                                    Main
                                </label>
                            </div>
                            <div class="form-check">
                                <div><span asp-validation-for="Dessert" class="text-danger"></span></div>
                                <input class="form-check-input" type="checkbox" id="Dessert" asp-for="Dessert">
                                <label class="form-check-label">
                                    Dessert
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-5 pt-0">Restrictions:</legend>
                        <div class="col-sm-7">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="Glutes">
                                <label class="form-check-label">
                                    Contains glutes
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" asp-for="Salt">
                                <label class="form-check-label">
                                    Contains salt
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="checkbox" asp-for="Diabetes">
                                <label class="form-check-label">
                                    Diabetes
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" accept="image/x-png,image/gif,image/jpeg, image/jpg" class="custom-file-input" id="customFile" asp-for="Image">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <a asp-action="Index" asp-controller="home" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
